@font-face {
    font-family: "Gotham";
    src: url(./Assets/Font/GothamMedium.ttf);
}
@font-face {
    font-family: "Gotham-light";
    src: url(./Assets/Font/GothamLight.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.781), rgba(255, 255, 255, 0.781)), url(./Assets/images/monochrome-view-person-playing-electric-guitar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

/* body img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    opacity: 20%;
    position: relative;
    z-index: -1;
} */

.container {
    background-color: #2E2F33;
    padding: 2rem;
    position: absolute;
    border-radius: .5rem;
    justify-content: center;
    width: 300px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
    align-content: center;
}

.logo img {
    width: 3rem;
    height: 3rem;
    z-index: 9999;
     opacity: 100%;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
    justify-content: center;
}

.logo p {
    color: white;
    font-family: "Gotham";
    font-size: 1.5rem;
}

.signs {
    display: flex;
    color: white;
    gap: 2.5rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

.signs p{
    text-transform: uppercase;
    font-family: "Gotham-light";
    font-weight: bold;
    cursor: pointer;
}

.signs p:nth-child(1){
    border-bottom: 2px solid #12C64B;
    padding-bottom: .3rem;
}

.form-input input{
    padding: .8rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    justify-content: center;
    width: 100%;
    color: #000000;
    font-weight: bold;
}

.form-input input::placeholder {
    color: rgba(128, 128, 128, 0.493);
    font-weight: bold;
}

.consent {
    display: flex;
    gap: .5rem;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.consent p{
    color: white;
    font-family: "Gotham-light";
    font-size: .8rem;
    font-weight: bold;
}

.consent input {
    border: none;
    outline: none;
}
.consent input:checked {
    accent-color: #12C64B;
}

#sign-in-btn {
    padding: .8rem 1rem;
    margin-bottom: 2rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: #12C64B;
    font-family: "Gotham-light";
    font-weight: bold;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.199);
}

.forgot-password {
    text-align: center;
    color: gray;
    font-family: "Gotham-light";
    font-weight: 600;
    font-size: .8rem; 
    cursor: pointer;
}